<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.reverse.each do |post| %>
    <div id="<%= dom_id post %>">
  <p>
   <h2> <%= link_to post.title, post %>
  </p>
  <small>
    <p><%= post.content %></p>
    <p><%= post.created_at %></p>
  </small>
</div>

  <% end %>
</div>

<%= link_to "New post", new_post_path %>
